<section class="flex gap-8 my-8">
    <div class="w-full rounded-lg min-w-[100px] overflow-y-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-6 items-start">
            <div class="w-full bg-white shadow-lg rounded-lg">
                <h1 class="text-2xl md:m-4 m-3">Top Selling Products</h1>
                <div class="p-5 gap-6">
                    <ul class="space-y-2">
                        @for (p of topSelling; track p.id; let i = $index) {
                            <li
                            class="flex justify-between items-center rounded p-2 md-text text-sm"
                            [ngClass]="i < 3 ? rowClasses[i] : 'bg-zinc-100'"
                            >
                                <span class="">
                                    {{ p.title }}
                                    <span class="text-gray-500">
                                        ({{ p.price }} EGP)
                                    </span>
                                </span>
                                <span class="font-semibold text-gray-800">
                                    {{ p.sold }} Sales
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="w-full bg-white shadow-lg rounded-lg">
                <h1 class="text-2xl md:m-4 m-3">Low Stock Products</h1>
                <div class="gap-6 p-5">
                    <ul class="space-y-2">
                        @for (p of lowStock; track $index) {
                            <li class="flex justify-between items-center bg-zinc-100 rounded p-2 md-text text-sm">
                                <span class="">
                                    {{ p.title }}
                                    <span class="text-zinc-500">
                                        ({{ p.price }} EGP)
                                    </span>
                                </span>
                                <span class="font-semibold text-gray-800">
                                    {{ p.quantity }} Quantity
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
