<section>
    <form class="md:space-y-6 space-y-5" [formGroup]="changePasswordForm" (ngSubmit)="changePasswordSubmit()">
    <div>
      <app-base-input
      id="input-oldPassword"
      [label]="'Old Password'"
      formControlName="password"
      type="password"
      />
    </div>

    <div>
      <app-base-input
      id="input-newPassword"
      [label]="'New Password'"
      formControlName="newPassword"
      type="password"
      />
    </div>

    <div>
      <app-base-input
      id="input-reNewPassword"
      [label]="'Confirm New Password'"
      formControlName="reNewPassword"
      type="password"
      />
    </div>

    <div class="pt-2 text-end">
      <button type="submit" [disabled]="isSubmitting()"
        class="inline-flex items-center justify-center md:px-8 md:py-3 sm:px-6 sm:py-2 w-full sm:w-auto py-2 px-6 rounded-xl bg-red-600 text-white font-medium hover:bg-red-700">
        @if (!isSubmitting()) {
          Change Password
        }
        @else {
          <i class="fa-solid fa-circle-notch fa-spin fa-lg text-white me-1"></i> Change Password
        }
      </button>
    </div>
  </form>

</section>