<section class="pt-20">
  <div class="text-center mb-10">
    <h6 class="text-main font-bold uppercase tracking-widest">our gallery</h6>
    <h1 class="text-3xl font-bold mt-2 heading">Let's Check Our Photo Gallery</h1>
  </div>

  <div class="flex flex-col items-center justify-center md:flex-row gap-6 md:gap-10 lg:gap-12 px-4 mb-10">
    <div class="w-[25.6875rem] h-[25.6875rem] overflow-hidden rounded-[40px]">
      <img class="w-full h-full object-cover" src="images/gallery/g6.png" alt="" />
    </div>
    <div class="w-[25.6875rem] h-[25.6875rem] overflow-hidden rounded-[40px]">
      <img class="w-full h-full object-cover" src="images/gallery/g5.png" alt="" />
    </div>
    <div class="w-[25.6875rem] h-[25.6875rem] overflow-hidden rounded-[40px]">
      <img class="w-full h-full object-cover" src="images/gallery/g6.png" alt="" />
    </div>
  </div>

  <div class="flex flex-col items-center justify-center md:flex-row gap-6 md:gap-10 lg:gap-12 px-4 mb-10">
  <div class="w-full md:w-[calc((25.6875rem*2)+2.5rem)] h-[25.6875rem] overflow-hidden rounded-[40px]">
    <img class="w-full h-full object-cover" src="images/gallery/g3.png" alt="" />
  </div>

  <div class="w-full md:w-[25.6875rem] h-[25.6875rem] overflow-hidden rounded-[40px]">
    <img class="w-full h-full object-cover" src="images/gallery/g2.png" alt="" />
  </div>
</div>

</section>
