<section class="py-8 container mx-auto">
 featurs/categories-b
  <div class="card">
    <p-carousel
      [value]="categories().categories"
      [numVisible]="5"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-item pTemplate="item">
      <div class="mx-2">
        <app-category-card
          [image]="item.image"
          [name]="item.name"
          [productsCount]="item.productsCount">
        </app-category-card>
              </div>
      </ng-template>
    </p-carousel>
  </div>
</section>

  <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">

    <div class="box h-[120px] px-4  justify-around py-8 flex items-center bg-[#feedf7] rounded-[1.25rem] gap-8">
      <div class="w-20 min-w-20 h-20 rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center text-white ">
        <i class="fa-solid fa-gift"></i>
      </div>
      <div class="title">
        <div class="font-semibold text-[#160e4b]">
          Gifts Box
        </div>
        <p class="text-sm text-[#757f95]">30 Items</p>
      </div>
    </div>


    <div class="box h-[120px] px-4 justify-around py-8  flex items-center bg-[#feedf7] rounded-[1.25rem] gap-8">
      <div class="w-20 min-w-20 py-5 h-20 rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center text-white ">
      <i class="fa-solid fa-house"></i>
      </div>
      <div class="title">
        <div class="font-semibold text-[#160e4b]">
          Home &
          Living Gifts
        </div>
        <p class="text-sm text-[#757f95]">25 Items</p>
      </div>
    </div>


    <div class="box h-[120px] px-4 justify-around py-5 flex items-center bg-[#feedf7] rounded-[1.25rem] gap-8">
      <div class="w-20 h-20 min-w-20 rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center text-white  ">
      <i class="fa-solid fa-gem"></i>
      </div>
      <div class="title">
        <div class="font-semibold text-[#160e4b]">
          Jewelry &
          Accessories
        </div>
        <p class="text-sm text-[#757f95]">15 Items</p>
      </div>
    </div>


    <div class="box h-[120px] px-4 justify-around py-5 flex items-center bg-[#feedf7] rounded-[1.25rem] gap-8">
      <div class="w-20 h-20 min-w-20 rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center text-white ">
      <i class="fa-solid fa-person-dress"></i>
      </div>
      <div class="title">
        <div class="font-semibold text-[#160e4b]">
          Garment
          Care
        </div>
        <p class="text-sm text-[#757f95]">50 Items</p>
      </div>
    </div>


    <div class="box h-[120px] px-4 justify-around py-5 flex items-center bg-[#feedf7] rounded-[1.25rem] gap-8">
      <div class="w-20 h-20 min-w-20 rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center text-white ">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="title">
        <div class="font-semibold text-[#160e4b]">
          Office &
          Stationery
        </div>
        <p class="text-sm text-[#757f95]">30 Items</p>
      </div>
    </div>
  </div>
</section>



