/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-bg-main: #feedf7;
  --color-main: #f82ba9;
  --color-title: #160e4b;
  --color-mini-paragraph: #757f95;

  --color-star: #fba707;
  --color-price: #f05454;
  --color-icon: #8c52ff;

  --radius-rd-sm: 10px;
  --radius-rd-md: 20px;
  --radius-rd-full: 100px;
}

/* carousel ...> Categories */

.p-carousel-indicator-active .p-carousel-indicator-button {
  background: #f82ba9 !important;
}

.p-carousel-indicator-button:hover {
  background: #f82ba9 !important;
}
.p-carousel-indicator-list  {
  display: none !important;
}


body {
  font-family: 'Inter';
}

.heading {
  @apply text-xl text-title font-bold capitalize lg:text-3xl;
}

.underline {
  @apply absolute w-40 h-0.5 bg-main left-0 -bottom-1;
}

.btn-primary {
  @apply w-fit flex gap-1.5 items-center bg-main text-white font-medium rounded-rd-sm p-2 lg:py-2.5 lg:px-5 cursor-pointer;
}

.marquee-item {
  animation: marquee-move var(--speed) linear infinite;
  animation-delay: calc(var(--single-slide-speed) * var(--position) * -1);
}

@keyframes marquee-move {
  to {
    transform: translateX(calc(-100cqw - 100%));
  }
}
