<section>
  <h3 class="text-center text-title text-4xl">
    {{ 'auth.login.h' | translate }}
  </h3>

  <hr class="text-zinc-400 mb-6 mt-4" />

  @if(errorMsg()) {
  <app-err-msg [text]="errorMsg()" />
  }

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <div>
        @let emailCtrl = loginForm.get("email");

        <app-base-input
          [label]="'auth.input.email' | translate"
          type="email"
          placeholder="user@example.com"
          formControlName="email"
        />

        @if (emailCtrl?.errors && emailCtrl?.touched) { @if
        (emailCtrl?.getError("required")) {
        <app-ctrl-error text="Email is required!" />
        } @else if (emailCtrl?.getError("email")) {
        <app-ctrl-error text="Email is invalid!" />
        } }
      </div>

      <div>
        @let passwordCtrl = loginForm.get("password");

        <app-base-input
          [label]="'auth.input.password' | translate"
          type="password"
          placeholder="********"
          formControlName="password"
        />

        @if (passwordCtrl?.errors && passwordCtrl?.touched) { @if
        (passwordCtrl?.getError("required")) {
        <app-ctrl-error text="Password is required!" />
        } @else if (passwordCtrl?.getError("pattern")) {
        <app-ctrl-error text="Password shoul be bla bla bla" />
        } }
      </div>
    </div>

    <a
      class="text-sm font-semibold block mt-2.5 text-main text-end"
      routerLink="/auth/forget-password"
      >{{ 'auth.login.forgetpassword' | translate }}
    </a>

    <app-submit-btn
      [isSubmitting]="isSubmitting()"
      [label]="'auth.login.loginBtn' | translate"
    />

    <hr class="text-zinc-400 my-5" />

    <p class="text-center">
      <span>{{ 'auth.dontHaveAccount' | translate }}</span>
      <a class="text-main" routerLink="/auth">
        {{ 'auth.createAccountNow' | translate }}</a
      >
    </p>
  </form>
</section>
