<!------- Reusable Input Component ------->
<label class="block capitalize text-sm font-medium mb-1.5" for="">{{
  label()
}}</label>

<input
  class="w-full p-4 rounded-rd-sm border-2 border-zinc-300 placeholder:text-zinc-400 outline-none focus:border-[#10b981]"
  [type]="type()"
  [placeholder]="placeholder()"
  [disabled]="disabled()"
  [value]="value()"
  (input)="onInput($event)"
  (blur)="onTouched()"
/>

<!---------------------------------------------------------------
    <app-base-input>  –  Quick Reference Sheet  
-----------------------------------------------------------------
    <form [formGroup]="myForm" (ngSubmit)="save()">
        <app-base-input
            formControlName="email"       
            type="email"                   
            placeholder="Email address">  
        </app-base-input>

        <app-base-input
            formControlName="password"
            type="password"
            [disabled]="true"    If you want
            placeholder="Password">
        </app-base-input>

        <button type="submit">Submit</button>
    </form> -->
