<!------- Reusable Input Component ------->
<label class="block capitalize  text-base font-bold mb-1 "[for]="id()">{{
  label()
}}</label>


<input
  [id]="id()"
  class="w-full p-3 rounded-xl border dark:disabled:bg-zinc-900 dark:disabled:text-zinc-600 disabled:bg-zinc-100 disabled:text-zinc-400 border-zinc-300 placeholder:text-zinc-400 outline-none dark:focus:border-pink-300 focus:border-pink-800"
  [type]="type()"
  [placeholder]="placeholder()"
  [disabled]="disabled()"
  [value]="value()"
  (input)="onInput($event)"
  (blur)="onTouched()"
/>
