<div class="mb-6">
  <h3 class="text-2xl font-semibold">
    {{ 'auth.forgetPassword.h' | translate }}
  </h3>

  <p class="text-sm">
    {{ 'auth.forgetPassword.p' | translate }}
  </p>
</div>

@if(errorMsg()) {
<app-err-msg [text]="errorMsg()" />
}

<form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
  <div>
    @let emailCtrl = forgetPasswordForm.get("email");

    <app-base-input
      [label]="'auth.input.email' | translate"
      type="email"
      placeholder="user@example.com"
      formControlName="email"
    />

    @if (emailCtrl?.errors && emailCtrl?.touched) { @if
    (emailCtrl?.getError("required")) {
    <app-ctrl-error text="Email is required!" />
    } @else if (emailCtrl?.getError("email")) {
    <app-ctrl-error text="Email is invalid!" />
    } }
  </div>

  <app-submit-btn
    [isSubmitting]="isSubmitting()"
    [label]="'auth.forgetPassword.continueBtn' | translate"
  />

  <div>
    <hr class="mb-5 text-zinc-400" />

    <p class="text-center">
      <span>{{ 'auth.dontHaveAccount' | translate }}</span>
      <a class="text-main" routerLink="/auth">
        {{ 'auth.createAccountNow' | translate }}</a
      >
    </p>
  </div>
</form>
