<div class="mb-6">
  <h3 class="text-2xl font-semibold">
    {{ 'auth.forgetPassword.h' | translate }}
  </h3>

  <p class="text-sm">
    {{ 'auth.forgetPassword.p' | translate }}
  </p>
</div>

@if(errorMsg()) {
<p-message severity="error" icon="pi pi-times-circle" styleClass="mb-4">{{
  errorMsg()
}}</p-message>
}

<form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
  <div>
    @let emailCtrl = forgetPasswordForm.get("email");

    <app-base-input
      [label]="'auth.input.email' | translate"
      type="email"
      placeholder="user@example.com"
      formControlName="email"
    />

    @if (emailCtrl?.errors && emailCtrl?.touched) {
    <p-message severity="error" variant="simple">
      @if (emailCtrl?.getError("required")) { Email is required!! } @else if
      (emailCtrl?.getError("email")) { Email is invalid! }
    </p-message>
    }
  </div>

  <app-submit-btn
    [isSubmitting]="isSubmitting()"
    [label]="'auth.forgetPassword.continueBtn' | translate"
  />

  <div>
    <hr class="mb-5 text-zinc-400" />

    <p class="text-center">
      <span>{{ 'auth.dontHaveAccount' | translate }}</span>
      <a class="text-main" routerLink="/auth">
        {{ 'auth.createAccountNow' | translate }}</a
      >
    </p>
  </div>
</form>
