<section>
  <ng-container [ngTemplateOutlet]="currentStep"></ng-container>

  <ng-template #forgetPassword>
    <div class="mb-6">
      <h3 class="text-2xl font-semibold">
        {{ 'auth.forgetPassword.h' | translate }}
      </h3>

      <p class="text-sm">
        {{ 'auth.forgetPassword.p' | translate }}
      </p>
    </div>

    <form>
      <div>
        <app-base-input
          [label]="'auth.input.email' | translate"
          type="email"
          placeholder="user@example.com"
        />
      </div>

      <button class="auth-btn">
        {{ 'auth.forgetPassword.continueBtn' | translate }}
      </button>

      <div>
        <hr class="mb-5 text-zinc-400" />

        <p class="text-center">
          <span>{{ 'auth.dontHaveAccount' | translate }}</span>
          <a class="text-main" routerLink="/auth">
            {{ 'auth.createAccountNow' | translate }}</a
          >
        </p>
      </div>
    </form>
  </ng-template>

  <ng-template #verifyCode>
    <div>
      <h3 class="text-2xl font-semibold">
        {{ 'auth.verifyCode.h' | translate }}
      </h3>

      <p class="text-sm">
        {{ 'auth.verifyCode.p' | translate }}
      </p>
    </div>

    <hr class="text-zinc-400 mb-6 mt-4" />

    <form>
      <div class="flex items-center justify-center gap-2.5">
        <input
          type="text"
          class="w-[45px] aspect-square rounded-rd-sm border border-zinc-400"
        />
        <input
          type="text"
          class="w-[45px] aspect-square rounded-rd-sm border border-zinc-400"
        />
        <input
          type="text"
          class="w-[45px] aspect-square rounded-rd-sm border border-zinc-400"
        />
        <input
          type="text"
          class="w-[45px] aspect-square rounded-rd-sm border border-zinc-400"
        />
        <input
          type="text"
          class="w-[45px] aspect-square rounded-rd-sm border border-zinc-400"
        />
        <input
          type="text"
          class="w-[45px] aspect-square rounded-rd-sm border border-zinc-400"
        />
      </div>

      <div class="text-end px-5 py-3.5">
        <button>{{ 'auth.verifyCode.sendCode' | translate }}</button>
      </div>

      <button class="auth-btn">
        {{ 'auth.verifyCode.verifyBtn' | translate }}
      </button>

      <hr class="text-zinc-400 my-5" />

      <p class="text-center">
        <span>{{ 'auth.needHelp' | translate }}</span>
        <a class="text-main" href="">{{ 'auth.contact' | translate }}</a>
      </p>
    </form>
  </ng-template>

  <ng-template #updatePassword>
    <div class="mb-6">
      <h3 class="text-2xl font-semibold">
        {{ 'auth.updatePassword.h' | translate }}
      </h3>

      <p class="text-sm">
        {{ 'auth.updatePassword.p' | translate }}
      </p>
    </div>

    <hr class="text-zinc-400 mb-6 mt-4" />

    <form>
      <div class="flex flex-col gap-4">
        <div>
          <app-base-input
            [label]="'auth.input.password' | translate"
            type="password"
            placeholder="********"
          />
        </div>

        <div>
          <app-base-input
            [label]="'auth.input.confirmPassword' | translate"
            type="password"
            placeholder="********"
          />
        </div>
      </div>

      <button class="auth-btn">
        {{ 'auth.updatePassword.resetBtn' | translate }}
      </button>

      <hr class="text-zinc-400 my-5" />

      <p class="text-center">
        <span>{{ 'auth.needHelp' | translate }}</span>
        <a class="text-main" href="">{{ 'auth.contact' | translate }}</a>
      </p>
    </form>
  </ng-template>
</section>
