<div class="mb-6">
  <h3 class="text-2xl font-semibold">
    {{ 'auth.updatePassword.h' | translate }}
  </h3>

  <p class="text-sm">
    {{ 'auth.updatePassword.p' | translate }}
  </p>
</div>

<hr class="text-zinc-400 mb-6 mt-4" />

@if(errorMsg()) {
<p-message severity="error" icon="pi pi-times-circle" styleClass="mb-4">{{
  errorMsg()
}}</p-message>
}

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <div>
      @let passwordCtrl = resetForm.get("newPassword");

      <app-base-input
        [label]="'auth.input.password' | translate"
        type="password"
        placeholder="********"
        formControlName="newPassword"
      />

      @if (passwordCtrl?.errors && passwordCtrl?.touched) {
      <p-message severity="error" variant="simple">
        @if (passwordCtrl?.getError("required")) { Password is required!! }
        @else if (passwordCtrl?.getError("pattern")) { Password must have
        atleast one uppercase, lowercase, number and special char!! }
      </p-message>
      }
    </div>

    <div>
      @let rePasswordCtrl = resetForm.get('rePassword');

      <app-base-input
        [label]="'auth.input.confirmPassword' | translate"
        type="password"
        placeholder="********"
        formControlName="rePassword"
      />

      @if ((resetForm.errors?.['misMatch'] || rePasswordCtrl?.errors) &&
      rePasswordCtrl?.touched) {
      <p-message severity="error" variant="simple">
        @if (rePasswordCtrl?.getError("required")) { Confirm Password is
        required!! } @else if (resetForm.errors?.['misMatch']) { Password and
        Confirm Password are not matched!! }
      </p-message>
      }
    </div>
  </div>

  <app-submit-btn
    [isSubmitting]="isSubmitting()"
    [label]="'auth.updatePassword.resetBtn' | translate"
  />

  <hr class="text-zinc-400 my-5" />

  <p class="text-center">
    <span>{{ 'auth.needHelp' | translate }}</span>
    <a class="text-main" routerLink="/contact">{{
      'auth.contact' | translate
    }}</a>
  </p>
</form>
