<div class="mb-6">
  <h3 class="text-2xl font-semibold">
    {{ 'auth.updatePassword.h' | translate }}
  </h3>

  <p class="text-sm">
    {{ 'auth.updatePassword.p' | translate }}
  </p>
</div>

<hr class="text-zinc-400 mb-6 mt-4" />

@if(errorMsg()) {
<p-message severity="error" icon="pi pi-times-circle" styleClass="mb-4">{{
  errorMsg()
}}</p-message>
}

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <div>
      @let passwordCtrl = resetForm.get("newPassword");

      <app-base-input
        [label]="'auth.input.password' | translate"
        type="password"
        placeholder="********"
        formControlName="newPassword"
      />

      <app-ctrl-err
        [inputCtrl]="passwordCtrl"
        msg1="Password"
        validation="pattern"
        msg2="Password must have atleast one uppercase, lowercase, number and special char!!"
      />
    </div>

    <div>
      @let rePasswordCtrl = resetForm.get('rePassword');

      <app-base-input
        [label]="'auth.input.confirmPassword' | translate"
        type="password"
        placeholder="********"
        formControlName="rePassword"
      />

      <app-ctrl-err
        [inputCtrl]="rePasswordCtrl"
        validation="misMatch"
        msg1="Confirm password"
        msg2="Password and Confirm Password are not matched!!"
      />
    </div>
  </div>

  <app-submit-btn
    [isSubmitting]="isSubmitting()"
    [label]="'auth.updatePassword.resetBtn' | translate"
  />

  <hr class="text-zinc-400 my-5" />

  <p class="text-center">
    <span>{{ 'auth.needHelp' | translate }}</span>
    <a class="text-main" routerLink="/contact">{{
      'auth.contact' | translate
    }}</a>
  </p>
</form>
