<div class="mb-6">
  <h3 class="text-2xl font-semibold">
    {{ 'auth.updatePassword.h' | translate }}
  </h3>

  <p class="text-sm">
    {{ 'auth.updatePassword.p' | translate }}
  </p>
</div>

<hr class="text-zinc-400 mb-6 mt-4" />

@if(errorMsg()) {
<app-err-msg [text]="errorMsg()" />
}

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <div>
      @let passwordCtrl = resetForm.get("newPassword");

      <app-base-input
        [label]="'auth.input.password' | translate"
        type="password"
        placeholder="********"
        formControlName="newPassword"
      />

      @if (passwordCtrl?.errors && passwordCtrl?.touched) { @if
      (passwordCtrl?.getError("required")) {
      <app-ctrl-error text="Password is required!" />
      } @else if (passwordCtrl?.getError("pattern")) {
      <app-ctrl-error text="Password shoul be bla bla bla" />
      } }
    </div>

    <div>
      @let rePasswordCtrl = resetForm.get('rePassword');

      <app-base-input
        [label]="'auth.input.confirmPassword' | translate"
        type="password"
        placeholder="********"
        formControlName="rePassword"
      />

      @if ((resetForm.errors?.['misMatch'] || rePasswordCtrl?.errors) &&
      rePasswordCtrl?.touched) { @if (rePasswordCtrl?.getError("required")) {
      <app-ctrl-error text="Confirm Password is required!" />
      } @else if (resetForm.errors?.['misMatch']) {
      <app-ctrl-error text="Password and Confirm Password are not matched!" />
      } }
    </div>
  </div>

  <app-submit-btn
    [isSubmitting]="isSubmitting()"
    [label]="'auth.updatePassword.resetBtn' | translate"
  />

  <hr class="text-zinc-400 my-5" />

  <p class="text-center">
    <span>{{ 'auth.needHelp' | translate }}</span>
    <a class="text-main" routerLink="/contact">{{
      'auth.contact' | translate
    }}</a>
  </p>
</form>
