<section class="my-6 lg:my-8 mx-4 lg:mx-20">
  <div class="wrapper flex flex-col gap-4 md:flex-row md:gap-10 lg:gap-20">
    <!-- left side -->
    <div class="md:w-2/5 flex justify-center items-center gap-2 p-2">
      <div class="w-[min(330px,100%)] relative shape">
        <img class="w-full" src="images/aboutUs/about-1.png" alt="man"/>
      </div>

      <div class="w-[min(190px,100%)]">
        <div>
          <img class="w-full" src="images/aboutUs/about-2.png" alt="man" />
        </div>

        <div>
          <img class="w-full" src="images/aboutUs/about-3.png" alt="man" />
        </div>
      </div>
    </div>

    <!-- right side -->
    <div class="flex flex-col gap-4 md:gap-6 md:w-3/5">
      <h6 class="text-span font-bold uppercase">
        {{ 'home.aboutUs.h6' | translate }}
      </h6>

      <div>
        <h2 class="heading">
          <span class="block">
            {{ 'home.aboutUs.h2.span1' | translate }}
            <span class="text-span">
              {{ 'home.aboutUs.h2.span2' | translate }}</span
            >
          </span>
          <span class="block">
            <span class="text-span">
              {{ 'home.aboutUs.h2.span3' | translate }}</span
            >
            {{ 'home.aboutUs.h2.span4' | translate }}
          </span>
        </h2>

        <p class="text-mini-paragraph mt-2">
          {{ 'home.aboutUs.p' | translate }}
        </p>
      </div>

      <app-primary-btn [label]="'home.bestSeller.btn' | translate" />

      <ul class="grid gap-y-2 gap-x-4 md:grid-cols-2 text-normal-txt">
        <li class="flex items-center gap-2">
          <span class="icon bg-icon">
            <i class="fa-solid fa-check"></i>
          </span>
          <span>{{ 'home.aboutUs.list.1' | translate }}</span>
        </li>

        <li class="flex items-center gap-2">
          <span class="icon bg-icon">
            <i class="fa-solid fa-check"></i>
          </span>
          <span>{{ 'home.aboutUs.list.2' | translate }}</span>
        </li>

        <li class="flex items-center gap-2">
          <span class="icon bg-icon">
            <i class="fa-solid fa-check"></i>
          </span>
          <span>{{ 'home.aboutUs.list.3' | translate }}</span>
        </li>

        <li class="flex items-center gap-2">
          <span class="icon bg-icon">
            <i class="fa-solid fa-check"></i>
          </span>
          <span>{{ 'home.aboutUs.list.4' | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
