<section class="p-4 my-5">
  <div class="contariner flex flex-col gap-6 w-[90%] mx-auto">
    <div class="main-gifts">
      <div class="grid grid-cols-12 gap-4">
        <div class="left-side col-span-12 md:col-span-3 min-h-[440px]">
          <div class="image-container">
            <div class="left-image">
              <div class="left-details flex flex-col justify-between">
                <p class="title">
                  {{ 'home.special.leftSide.title' | translate }}
                </p>
                <p class="sec-title pb-[0.55px]">
                  {{ 'home.special.leftSide.details' | translate }}
                </p>
                <app-primary-btn [label]="'home.shopNowLabel' | translate"></app-primary-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="rigth-side relative col-span-12 md:col-span-9 sm:w-full">
          <owl-carousel-o class=" " [options]="mainSliderOptions">
            @for (image of imageSlides; track image.id) {
            <ng-template carouselSlide class="absolute">
              <div class="image-container max-w-[956px] max-h-[440px]">
                <div
                  class="right-image"
                  [ngStyle]="{ 'background-image': 'url(' + image.src + ')' }"
                  [attr.aria-label]="image.alt"
                >
                  <div
                    class="right-details sm:mt-[15px] sm:ml-[16px] sm:w-[153px] flex flex-col md:pl-[30px] md:pb-[60px]"
                    id="tr-text"
                  >
                    <h6 class="right-head mb-[24px]">
                      {{ 'home.special.slider.title' | translate }}
                    </h6>
                    <p class="right-tiltle1 sm:w-[153px] mb-[16px]">
                      {{ 'home.special.slider.subtitle1' | translate }}
                      <span class="gift">{{
                        'home.special.slider.subtitle.span' | translate
                      }}</span>
                      {{ 'home.special.slider.subtitle2' | translate }}
                    </p>
                    <p class="right-tiltle2 mb-[24px]">
                      {{ 'home.special.slider.details' | translate }}
                    </p>

                   <app-primary-btn [label]="'home.shopNowLabel' | translate"></app-primary-btn>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div>
      </div>
    </div>

    <div class="secondary-gifts">
      <div
        class="grid grid-cols-12 gap-3.5 text-center md:text-right place-items-center"
      >
        @for (gift of gifts; track gift.id) {
        <div
          class="gifts-box flex flex-col items-center md:items-end justify-center col-span-12 md:col-span-4 w-[min(410px,100%)] min-h-[272px]"
          [ngStyle]="{ 'background-image': 'url(' + gift.src + ')' }"
          [attr.aria-label]="gift.alt"
        >
          <div class="offer-details pr-4">
            <p
              class="max-w-[188px] md:text-right min-h-[19px] mb-3.5 text-title"
            >
               {{ gift.title | translate }}
            </p>
            <p
              class="desc-gift md:text-right mb-[14px] mt-[14px] max-w-[201px] max-h-[48px] md:max-w-[201px] md:min-h-[72px]"
            >
              {{ gift.details | translate }}
            </p>
            <button class="gift-button max-w-[144px] bg-main">
               {{ gift.button_text | translate }}
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
