  <div class="flex flex-col h-full">
        <div class="bg-bg-main p-8 shadow overflow-hidden flex justify-center items-center h-48">
          <img [src]="imgCover" [alt]="title" class="h-full object-cover rounded-full" />
        </div>
        <div class="p-4 flex flex-col justify-between flex-grow">
          <h2 class="text-base font-semibold text-title leading-tight">
            {{ title }}
          </h2>
          <div class="text-sm text-title mt-1">
            {{rateAvg }}
          </div>
          <div class="flex justify-between items-center mt-2">
            <div class="flex items-center space-x-2">
              <span class="text-price font-bold text-sm">
                ${{priceAfterDiscount }}
              </span>
              <span class="text-mini-paragraph line-through text-xs">
                ${{ price }}
              </span>
            </div>
            <div class="w-8 h-8 rounded-full bg-icon flex justify-center items-center">
              <img src="./images/icon-prod/Icon.png" alt="product icon" class="w-4 h-4 object-contain text-white" />
            </div>
          </div>
        </div>
      </div>
