<section class="max-w-[1440px] mx-auto">

<section class="max-w-[1440px] mx-auto my-6 lg:my-20">
  <div
    class="bg-bg-main flex flex-col items-center gap-4 px-6 py-4 lg:py-10 lg:mx-20 lg:gap-10 lg:rounded-rd-md"
  >
    <h3 class="heading">
      <span class="inline-block relative">
        Trusted by over
        <span class="underline"></span>
      </span>
      <span class="text-main"> 4.5k+</span> companies
    </h3>

    <div
      [style]="settings"
      class="max-w-[95%] m-auto overflow-hidden [mask-image:linear-gradient(to_right,transparent,#fff_20%,#fff_80%,transparent)]"
    >
      <div
        class="w-max grid [container-type:inline-size] grid-cols-[var(--track-width)_[track]_0px_[resting]]"
      >
        @for (item of images; track $index) {

        <div
          [style]="`--position: ${$index + 1}`"
          class="marquee-item w-[var(--width)] h-[var(--height)] [grid-area:resting]"
        >
          <img [src]="item.src" alt="company logo" />
        </div>

        }
      </div>
    </div>
  </div>
</section>
