<footer class="bg-bg-main">
  <div
    class="wrapper p-4 lg:pt-10 lg:pb-20 flex flex-col items-center gap-4 lg:gap-10"
  >
    <ul
      class="flex flex-wrap gap-2 lg:gap-20 justify-center font-bold text-title p-2"
    >
      <li>
        <a href="">About US</a>
      </li>

      <li>
        <a href="">Store Location</a>
      </li>

      <li>
        <a href="">Contact</a>
      </li>

      <li>
        <a href="">Delivery</a>
      </li>

      <li>
        <a href="">Policy</a>
      </li>

      <li>
        <a href="">FAQS</a>
      </li>
    </ul>

    <div class="text-center">
      <h3 class="heading">
        Get <span class="text-main">20%</span> Off Discount Coupon
      </h3>
      <p class="text-mini-paragraph font-medium lg:text-xl mt-2 lg:mt-4">
        By Subscribe Our Newsletter
      </p>
    </div>

    <form class="w-[min(400px,100%)]">
      <div class="relative">
        <input
          type="text"
          placeholder="Enter Your Email"
          class="bg-white font-semibold text-mini-paragraph p-4 w-full rounded-rd-sm lg:rounded-4xl outline-main outline-offset-3"
        />
        <button
          class="absolute right-0 top-1/2 -translate-y-1/2 bg-main rounded-rd-sm lg:rounded-4xl p-4 text-white font-medium outline-title cursor-pointer"
        >
          Subscribe
          <span
            ><span><i class="fa-solid fa-arrow-right"></i></span>
          </span>
        </button>
      </div>
    </form>
  </div>
</footer>
