<div class="card w-[min(300px,100%)]">
  <div class="relative rounded-rd-md bg-bg-main h-[270px] overflow-clip group">
    <img
      [src]="imgCover()"
      [alt]="title()"
      class="w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 bg-main/70 flex items-center justify-center gap-10 translate-y-1/1 group-hover:translate-y-0 duration-500 ease-in-out"
      aria-label="overlay"
    >
      <a [routerLink]="['/product-details',productId()]">
        <i class="fa-regular fa-eye icon bg-main"></i>
      </a>

      <button>
        <i class="fa-regular fa-heart icon bg-main"></i>
      </button>
    </div>
  </div>

  <div class="flex items-center justify-between mt-4 px-4">
    <div class="flex flex-col gap-2">
      <h5 class="text-title font-semibold capitalize">
        {{ title() }}
      </h5>

      <app-star-rating [rate]="rateAvg()" />

      <p>
        <span class="text-price">
          {{ priceAfterDiscount() | currency }}
        </span>
        <span class="text-[#DEE2E6] line-through">
          {{ price() | currency }}
        </span>
      </p>
    </div>

    <button>
      <i class="fa-solid fa-bag-shopping icon bg-icon"></i>
    </button>
  </div>
</div>
