<section class="p-7">
  <h3 class="text-2xl font-semibold">
    @if (id()) { Update Category: Flowers } @else {Add a New Category}
  </h3>

  <div class="p-5">
    {{ id() }}
  </div>

  <form
    class="p-6 bg-white rounded-2xl"
    (ngSubmit)="onSubmit()"
    #formImage
    [formGroup]="form"
  >
    <div class="w-[min(100%,700px)] flex flex-col gap-4">
      <div class="grid">
        @let nameCtrl = form.get('name');
        <label for="name">Name</label>
        <input
          class="border border-zinc-200 rounded-rd-sm p-4"
          type="text"
          name="name"
          formControlName="name"
          id="name"
          placeholder="Enter category name"
        />

        @if (nameCtrl?.touched && nameCtrl?.getError("required")) {
        <span class="mt-2">
          <p-message severity="error" size="small">
            Name is required!!
          </p-message>
        </span>
        }
      </div>

      <div class="grid">
        @let imageCtrl = form.get('image');
        <label for="image">Category image</label>
        <input
          class="border border-zinc-200 rounded-rd-sm p-4"
          type="file"
          id="image"
          name="image"
          (change)="onFileChange($event)"
        />
        @if (imageCtrl?.touched && imageCtrl?.getError("required")) {
        <span class="mt-2">
          <p-message severity="error" size="small">
            Image is required!!
          </p-message>
        </span>
        }
      </div>


      <div class="mt-12">
        <lib-ui-button label="Add Category" [isSubmitting]="isSubmitting()" />
      </div>
    </div>
  </form>
</section>
