<section id="best-seller" class="my-6 lg:my-8 mx-4 lg:mx-20">
  <div class="wrapper flex flex-col justify-between sm:flex-row">
    <div class="flex flex-col gap-4 p-2 sm:w-[300px] lg:gap-7">
      <h6 class="text-main font-bold tracking-[4px] uppercase">
        {{ 'home.bestSeller.h3' | translate }}
      </h6>

      <div>
        <h2 class="heading">
          <span class="block">
            {{ 'home.bestSeller.h2.span1' | translate }}
            <span class="text-main">{{
              'home.bestSeller.h2.span2' | translate
            }}</span>
          </span>
          <span class="block">
            <span class="text-main">{{
              'home.bestSeller.h2.span3' | translate
            }}</span>
            {{ 'home.bestSeller.h2.span4' | translate }}
          </span>
        </h2>

        <p class="text-mini-paragraph mt-2">
          {{ 'home.bestSeller.p' | translate }}
        </p>
      </div>

      <app-primary-btn [label]="'home.bestSeller.btn' | translate" />
    </div>

    <div
      class="p-2 w-[min(318px,100%)] lg:w-[calc(100%-320px)] place-self-center [direction:ltr]"
    >
      @if (isLoading()) {
      <app-loader />
      } @else if (error()){
      <app-err-msg [message]="error()" />
      } @else {
      <owl-carousel-o [options]="customOptions">
        @for (p of products(); track $index) {
        <ng-template carouselSlide [id]="p.id">
          <app-card
            [title]="p.title"
            [imgCover]="p.imgCover"
            [price]="p.price"
            [priceAfterDiscount]="p.priceAfterDiscount"
            [rateAvg]="p.rateAvg"
          />
        </ng-template>
        }
      </owl-carousel-o>
      }
    </div>
  </div>
</section>
