<section class="py-8 container mx-auto">
  <div class="grid  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
          @for (feature of features; track feature.id) {

    <div class="box h-[120px] px-4  justify-around py-8 flex items-center bg-[#feedf7]  gap-8">
      <div class="w-20 min-w-20 h-20 rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center text-white ">
         <img [src]="feature.src" [alt]="feature.alt" />
      </div>
      <div class="title">
        <div class="font-semibold text-[#160e4b]">
         {{feature.title}}
        </div>
        <p class="text-sm text-[#757f95]">{{feature.details}}</p>
      </div>
    </div>





  }
  </div>



</section>




