<section class="py-8 container mx-auto">
  <div class="grid  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 bg-[#feedf7] justify-center rounded-rd-md">
          @for (feature of features; track feature.id) {

    <div class="box min-w-[159px]  px-4  py-8 md:flex md:flex-row gap-4 justify-center sm:flex  sm:flex-col  ">

<div class="w-[65px] h-[65px] rounded-full text-4xl bg-[#f82ba9] flex items-center justify-center mx-auto md:mx-0 text-white  ">
         <img class=""   [src]="feature.src" [alt]="feature.alt" />
      </div>

      <div class="title min-w-[159px] max-h-[58px] text-center md:text-start items-center pt-3.5 ">
        <div class="font-semibold  min-w-[200px]  text-[#160e4b]">
         {{feature.title}}
        </div>
        <p class="text-sm min-w-[165px]   text-[#757f95]">{{feature.details}}</p>
      </div>



</div>






  }
  </div>



</section>




