<div class="box h-[7.625rem] px-4 justify-around py-8 flex items-center bg-bg-main rounded-[1.25rem] gap-4">
      <div class="w-[5.625rem] min-w-[5.625rem] h-[5.625rem] rounded-full  bg-main flex items-center justify-center">
        <img [src]="image "[alt]="name" class="w-[3.125rem] h-[3.125rem] invert brightness-0" />
      </div>
      <div class="title text-xl">
        <div class="font-semibold py-1 text-title">
          {{name}}
        </div>
        <p class="text-sm text-mini-paragraph">{{productsCount}} Items</p>
      </div>
    </div>
